# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
#*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse files
.cproject
.project
.settings

# Build outputs
build
build-*
.idea

# Test data
test_data
*.png
*.jpg

# ctags
tags

#swp file
*.swp

# Ocr_xia
ocr_xia

# python cache
*.pyc
*.cache
*.rosbag

# path hint shell script
*local_setup.bash

deps
deps/*

install
install/*

target
target/*

#vscode settings
.vscode/

extracted

deps
target
install

CppBuild.lock
